{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <title>Stamp Collector - {% block title %}{% endblock %}</title>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            Stamp Collector
          </p>
          <p class="subtitle">
            For all your stamp collecting needs...
          </p>
        </div>
    </section>

    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu">
                <p class="menu-label">
                  Menu
                </p>
                <ul class="menu-list">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                </ul>
                <p class="menu-label">
                  Collections
                </p>
                <ul class="menu-list">
                  <li><a href="{% url 'collection_list' %}">Collection List</a></li>
                  <li><a href="{% url 'collection_create' %}">Create New Collection</a></li>
                </ul>
                <p class="menu-label">
                  Stores
                </p>
                <ul class="menu-list">
                    <li><a href="{% url 'store_list' %}">Store List</a></li>
                    <li><a href="{% url 'store_create' %}">Create Store</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>