{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
        <a class="button" href="{% url 'stamp_create' %}">Add Stamp</a>
        <div class="stamp-container">
            {% for stamp in stamps %}
                <div class="tile">
                    <a href="/stamps/{{stamp.id}}">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">{{stamp.name}}</p>
                            </div>
                            <div class="card-image">
                                <figure class="image is-128x128">
                                    <img src="{{stamp.image}}" alt="{{stamp.name}}" />
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock %}